<p id="notice"><%= notice %></p>

<h1 class="h1 header">Listing Products</h1>

<table class="ui fixed single line basic table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="right aligned">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td class="right aligned">
          <%= link_to 'Show', product, class: 'compact ui basic button' %>
          <%= link_to 'Edit', edit_product_path(product), class: 'compact ui positive basic button' %>
          <%= link_to 'Destroy', product, class: 'compact negative ui basic button', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: 'fluid ui massive primary button' %>
